@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@keyframes openerX {
  0% {
    transform: translateX(70%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(100%);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-bg {
  background-color: rgba(255, 255, 255, 0.815);
}
.header {
  width: 100%;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.header__container {
  display: flex;
  align-items: center;
  width: 100%;
}
.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.header__title {
  margin-right: 130px;
}
.header__nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__nav-item {
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
    transition: 0.4s;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover a {
    color: #ff7b47;
  }
}
.mobile-menu-btn {
  width: 26px;
  height: 26px;
  position: relative;
  border: none;
  background: none;
  display: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #252b42;
    transition: 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #252b42;
    transition: 0.5s;
  }
  span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #252b42;
    transform: translateY(-50%);
    transition: 0.5s;
  }
}
@media (max-width: 510px) {
  .header__nav-list {
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #34488167;
    animation: openerX 0.5s linear;
    &.active-mobile {
      display: flex;
    }
    a {
      color: white;
      font-size: 18px;
    }
  }
  .header__nav-item:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .mobile-menu-btn {
    display: block;
    &.active-mobile {
      &::before {
        transform: rotate(45deg);
        top: 45%;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 45%;
      }
      & span {
        display: none;
      }
    }
  }
  .header__container {
    justify-content: space-between;
  }
}
//starter
.starter {
  background: url(../img/starterBackground.png) no-repeat;
  background-size: cover;
  min-height: 793px;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.starter__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.starter__title {
  max-width: 500px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 35px;
}
.starter__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 375px;
  margin-bottom: 35px;
}
.starter__links {
  display: flex;
}
.starter__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
  border-radius: 37px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.starter__link_orange {
  background-color: #ff7b47;
  color: #ffffff;
  margin-right: 10px;
  width: 180px;
  &:hover {
    background-color: #994a2a;
  }
  &:active {
    background-color: #ff7b47;
  }
}
.starter__link_transparent {
  border: 1px solid #0d5c63;
  width: 150px;
  color: #0d5c63;
  &:hover {
    background-color: #0d5c639f;
    color: #ffffff;
  }
  &:active {
    background-color: transparent;
    color: #0d5c63;
  }
}
@media (max-width: 410px) {
  .starter__title {
    font-size: 42px;
    line-height: 60px;
  }
  .starter__links {
    flex-direction: column;
    align-items: center;
  }
  .starter__link_orange {
    margin: 0 0 10px 0;
  }
}
//services
.services__container {
  width: 100%;
}
.services__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.services__list-item {
  width: 328px;
  padding: 35px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  transition: 0.7s;
  &:hover {
    color: #ffffff;
    background: #0d5c63;
    .services__case-icon path {
      stroke: #ffffff;
      fill: #ffffff;
    }
    .services__list-title {
      color: #ffffff;
    }
    .services__list-text {
      color: #ffffff;
    }
  }
}
.services__case-icon {
  margin-bottom: 10px;
  path {
    transition: 0.3s;
  }
}
.services__list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
  transition: 0.7s;
}
.services__list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  transition: 0.7s;
}
.services {
  margin-top: -115px;
}
@media (max-width: 970px) {
  .services__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .starter__container {
    align-items: center;
    text-align: center;
  }
  .services__list-item {
    flex: 1 1 auto;
  }
}
@media (max-width: 685px) {
  /* .services__list-item {
    width: 100%;
  } */
}
.experience {
  background: #fafafa;
  padding: 80px 0;
}
.experience__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.experience__title {
  margin-bottom: 10px;
}
.section__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.experience__text {
  max-width: 510px;
  margin-bottom: 50px;
}
.experience__cards {
  display: grid;
  grid-template-columns: 238px 238px 238px 238px;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.experience__cards-item {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.experience__cards-pic {
  width: 48px;
  margin-bottom: 10px;
}
.experience__cards-stats {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}
.experience__cards-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
  white-space: nowrap;
}
@media (max-width:998px) {
  .experience__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:520px) {
  .experience__cards {
    grid-template-columns: 1fr;
  }
}